*{margin: 0%;
padding: 0;}

h1{
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
    padding-bottom: 40px;
}

#container{
    text-align: center;
 background-color: aquamarine;
 height: 300px;
 padding-top: 150px;
}
    
.input-div{
    display:inline-block;
    
}

label{
    font-size: 30px;
    font-weight: bold;
}
.tem{
    padding: 15px 20px;
    margin: 20px;
    border-radius: initial;
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}
span{
    font-weight: bold;
    font-size: 40px;
    
}